@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input {
  border-radius: 10px;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  color: #27222299;
}
textarea {
  border-radius: 10px;
  padding: 0.5rem;
  resize: none;
  color: #27222299;
}
.inputs {
  animation: slideIn 1.5s ease-in-out forwards;
  display: flex;
  gap: 5px;
}
.cont {
  animation: fadeIn 5s;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 110px;
}
.inputs {
  width: 400px;
  display: flex;
  flex-direction: column;
}
h1 {
  text-decoration: underline white;
}
@media (max-width: 800px) {
  .cont {
    animation: fadeIn 5s;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infos {
    margin-top: 1rem;
    > h1 {
      font-size: 18px;
    }
    > p {
      font-size: 18px;
    }
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
}
