@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  color: #ffff;
}

body {
  background-image: url("./assets/background.jpg");
  animation: expand 0.8s ease forwards;
  height: 100%;
  width: 100%;
}

.icons {
  display: flex;
  gap: 1rem;
}
.icons,
a {
  cursor: pointer;
}
.container {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.description {
  overflow: hidden;
  height: auto;
}

h1 {
  font-size: 60px;
  transform: translateY(200px);
  animation: slideUp 0.8s ease forwards 0.5s;
}
.description {
  > p {
    font-size: 30px;
    transform: translateY(100px);
    animation: slideUp 1s ease forwards 0.5s;
  }
}
.foto-container {
  animation: slideIn 1.5s ease-in-out forwards;
  background-image: url("./assets/Aron.jpg");

  width: 500px;
  height: 500px;
  border-radius: 100%;
  overflow: hidden;
  background-position: 60% 38%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 800px) {
  .description {
    padding-bottom: 2rem;
    > h1 {
      font-size: 20px;
    }
    > p {
      font-size: 18px;
    }
  }
  .home {
    overflow: hidden;
  }
  .container {
    gap: 6rem;
  }
  .foto-container {
    width: 100%;
    height: 70%;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  .menu-button-container {
    display: flex;
  }
  .top-nav {
    background: linear-gradient(to left, #090231, #0a0a0a);
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background: linear-gradient(to left, #090231, #0a0a0a);
    z-index: 1;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input {
  border-radius: 10px;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  color: #27222299;
}
textarea {
  border-radius: 10px;
  padding: 0.5rem;
  resize: none;
  color: #27222299;
}
.inputs {
  animation: slideIn 1.5s ease-in-out forwards;
  display: flex;
  gap: 5px;
}
.cont {
  animation: fadeIn 5s;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 110px;
}
.inputs {
  width: 400px;
  display: flex;
  flex-direction: column;
}
h1 {
  text-decoration: underline white;
}
@media (max-width: 800px) {
  .cont {
    animation: fadeIn 5s;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infos {
    margin-top: 1rem;
    > h1 {
      font-size: 18px;
    }
    > p {
      font-size: 18px;
    }
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  gap: 1rem;
  margin: 3rem 8rem;
  overflow: hidden;
  position: relative;
}
.article {
  width: 400px;
  height: 250px;
  transform: translateY(800px);
  animation: slideUp 1.3s ease forwards 0.8s;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.projet {
  width: 100%;
  height: 100%;

  background-image: url("/assets/netflix.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 1s;
}
.projet:hover {
  transform: scale(1.2);
}
@media (max-width: 800px) {
  .port {
    overflow-y: auto;
  }
  .father {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
    position: fixed;
  }
  .article {
    width: 300px;
    height: 200px;
    margin-bottom: 1rem;
  }
}
